.features {
    background-color: $maincolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        padding-top: 100px;

        img {
            padding-bottom: 30px;
        }

        h3 {
            padding-bottom: 20px;
        }
    }
}