/* Background colors */

$introcolor: hsl(217, 28%, 15%);
$maincolor: hsl(218, 28%, 13%);
$footercolor: hsl(216, 53%, 9%);
$testemonialscolor: hsl(219, 30%, 18%);

/* Acent colors */

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$lightred: hsl(0, 100%, 63%);


